/* Google Font CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

nav {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}

nav .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .logo a {
    font-weight: 500;
    font-size: 80px;
    color: rgb(9, 9, 56);
}

nav .navbar .menu {
    display: flex;
    position: relative;
}

nav .navbar .menu li {
    list-style: none;
    margin: 0 8px;
}

.navbar .menu a {
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    padding: 6px 0;
    transition: all 0.4s ease;
}

.navbar .menu a:hover {
    color: #4070f4;
}

.navbar .media-icons a {
    color: #000000;
    font-size: 25px;
    margin: 6px;
}

.navbar .media-icons a:hover {
    color: #4070f4;
}

.home {
    height: 100vh;
    width: 100%;
    background: url("Images/top.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .text-one {
    font-size: 25px;
    color: #0E2431;
}

.home .text-two {
    color: #0E2431;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .text-three {
    font-size: 40px;
    margin: 5px 0;
    color: #0b2775;
}

.home .text-four {
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
    font-weight: bolder;
}

.home .button {
    margin: 14px 0;
}

.home .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background: rgb(255, 255, 0);
    color: rgb(24, 4, 71);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.home .button button:hover {
    border-color: #4070f4;
    background-color: rgb(31, 14, 71);
    color: #f0e21d;
}

section {
    padding-top: 40px;
}

section .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details .left {
    width: 45%;
}

.about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right {
    width: 55%;
}

section .topic {
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p {
    text-align: justify;
    color: #0E2431;
}

section .button {
    margin: 16px 0;
}

section .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .button button:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}

.text1 {
    text-align: left;
    color: yellow;
    font-size: 30px;
    font-style: initial;
    font-family: verdana;
    background-color: rgb(4, 4, 63);
}

.contain {
    background-color: rgb(247, 187, 139);
}

.par {
    text-align: center;
    font-size: 25px;
    font-family: verdana;
}

.footer {
    padding: 49px;
    bottom: 0px;
    text-align: center;
    background: rgb(42, 37, 78);
    font-size: 20px;
    margin: 6px;
    color: #fff;
}

.par {
    background-color: lightgrey;
    width: 100%;
    border: 10px;
    color: #000000;
    padding: 20px;
    margin: 0px;
}